.navbar {
    background-color: black;
    padding: 12px 20px;
}

.navbar li{
    color: aliceblue;
    text-decoration: none;
    padding: 8px 14px;
    margin-right: 6px;
    border-radius: 6px;
    transition: background-color 0.2s;
    list-style: none;
    display: inline;
}
.navbar li:hover {
    background-color: black;
}