body {
    margin: 0;
    background-color: #121212;
    color: #e0e0e0;
    font-family: Arial, sans-serif;
}

.dashboard-container {
    display: grid;
    height: 100vh;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 70px 1fr 50px;
    grid-template-areas:
        "header  header"
        "sidebar main"
        "footer  footer";
}

.header {
    grid-area: header;
    background-color: #1e1e24;
    display: flex;
    align-items: center;
    padding: 0 20px;
    border-radius: 8px;
}

.sidebar {
    grid-area: sidebar;
    background-color: #1e1e24;
    padding: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    margin-bottom: 15px;
}

.sidebar a {
    color: #888;
    text-decoration: none;
}

.main-content {
    grid-area: main;

    display: grid;


    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    align-content: start;
}

.footer {
    grid-area: footer;
    background-color: #1e1e24;
    display: flex;
    align-items: center;
    justify-content: center;
}


.stat-card {
    background-color: #202025;
    padding: 20px;
    border-radius: 8px;
    border-top: 4px solid #00d2d3;
}

.stat-card h3 {
    margin-top: 0;
    font-size: 1rem;
    color: #aaa;
}

.stat-card p {
    margin: 10px 0 0 0;
    font-size: 1.5rem;
    font-weight: bold;
}