.flex-container {
    width: 800px;
    height: 800px;
    background-color: aqua;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.flex-child{
    width: 50px;
    height: 50px;
    border: 1px solid black;
}
.flex01{background-color: brown;}
.flex02{background-color: pink;}
.flex03{background-color: red;}
.flex04{background-color: yellow;}
.flex05{background-color: green;}

   