#container ul{
    height: 30px;
    background-color: yellowgreen;
    display: flex;
    gap: 30;
    justify-content: center;
    align-items: center;
}

li{
    list-style: none;
}

@media  (max-width: 300px){
#container ul {
width: 30px;
background-color: yellowgreen;
display: flex;
flex-direction: column;
gap: 30px;
}
}
